<nav>
      <a class="navbar" href="/">Home</a>
      <a class="navbar" href="/art">My Art</a>
      <a class="navbar" href="/art/new">Create New</a>
      <%= form_tag("/", method: :get) do %>
          <%= search_field_tag(:search, params[:search], required: true) %>
          <%= submit_tag ("Search") %>
      <% end %>
<% if !current_user %>
<a class="navbar-login" href="/login">Login</a>
<a class="navbar-user" href="/signup">Signup</a>
<% else %>
<div class="navbar-logout">You are Logged In as <%= current_user.username %></div>
<a class="logout"href="/logout">Logout</a>
<% end %>

</nav>

<h1 class="art_title">Community Art Board</h1>


<section class="container-index">

 <% @arts.each do |art| %>
  
    <div>
      <div class="title">
      <%= art.name %>
      </div>
      
      <div class="img-index">
      <%= image_tag art.image, style:"width:100%; height: auto"%>
      </div>
      <br><br>
      <div class="desc">
      <%= art.description %>
      </div>

      <div class="view">
      <%= link_to 'View', art_path(art) %>
              </div>
              </div>
   
<% end %>


</section>