
<div>
<h1 class="page-header">Art</h1>
 </div>
 <% if flash[:notice] %>
 <div class="delete_msg"><%= flash[:notice] %></div>
 <% end %>
 <% if @arts.blank? %>
 <div class="message">
 <p>No art added yet</p>
 <% end %>
 </div>

<section class="container-index">

 <% @arts.each do |art| %>
  
    <div>
      <div class="title">
      <%= art.name %>
      </div>

      <div class="img-index">
      <%= image_tag art.image, style:"width:100%; height: auto"%>
      </div>
      <br><br>
      <div class="desc">
      <%= art.description %>
      </div>

      <div class="view">
      <%= link_to 'View', art_path(art) %>
              </div>
              </div>
<% end %>


</section>