<section class="container">
<h1 class="page-header">Art</h1>
 
<div>
 <% @arts.each do |art| %>
    
      <div class="desc">
      <%= art.name %>
      </div>

      <div class="img">
      <%= image_tag art.image %>
      </div>

      <div class="desc">
      <%= art.description %>
      </div>

      
      <div class="desc">
      <%= link_to 'View', art_path(art) %>
      <%=link_to 'Delete', art_path(art),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              </div>
    </div>
  <% end %>
</section>