
<div>
<h1 class="page-header">Art</h1>
 </div>

 <% if @arts.blank? %>
 <div class="message">
 <p>No art found</p>
 <% end %>
 </div>

<section class="container-index">

 <% @arts.each do |art| %>
  
    <div>
      <div class="title">
      <%= art.name %>
      </div>

      <div class="img-index">
      <%= image_tag art.image, style:"width:100%; height: auto"%>
      </div>
      <br><br>
      <div class="desc">
      <%= art.description %>
      </div>

      
      <div class="view">
      <%= link_to 'View', art_path(art) %>
      <div class="delete">
      <%=link_to 'Delete', art_path(art),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              </div>
              </div>
              </div>
   
  <% end %>


</section>